@model IEnumerable<HogeschoolPXL.Data.Tables.Handboek>

@{
    ViewData["Title"] = "Index";
}

<h1>Lijst van Handboeken</h1>

<p>
    <a asp-action="Create" style="font-size:150%">Nieuwe handboek</a>
</p>
<table border="1" style="width: 90%; background-color: #E8E8E8; border-color: #0084F1; border-width: 20px;font-size: 160%">
    <thead style="background-color:black;color:white;text-align:center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KostPrijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UitgifteDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afbeelding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="font-weight: 800; padding-left:10px">
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td style="font-weight: 800; padding-left:10px">
                @Html.DisplayFor(modelItem => item.KostPrijs)
            </td>
            <td style="font-weight: 800; padding-left:10px">
                @Html.DisplayFor(modelItem => item.UitgifteDatum)
            </td>
            <td style="font-weight: 800; padding-left:10px">
                @Html.DisplayFor(modelItem => item.Afbeelding)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.HandboekId">Edit</a> -
                <a asp-action="Details" asp-route-id="@item.HandboekId">Details</a> -
                <a asp-action="Delete" asp-route-id="@item.HandboekId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
