@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<HogeschoolPXL.Data.Tables.Vak>

@{
    ViewData["Title"] = "Index";
}

<h1>Lijst van Vakken</h1>

<p>
    <a asp-action="Create" style="font-size:150%">Nieuwe vak</a>
</p>
<table border="1" style="width: 90%; background-color: #E8E8E8; border-color: #0084F1; border-width: 20px;font-size: 160%">
    <thead style="background-color:black;color:white;text-align:center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VakNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudiePunten)
            </th>
            <th>
                <label>Hanboek</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="font-weight: 800; padding-left:10px">
                @Html.DisplayFor(modelItem => item.VakNaam)
            </td>
            <td style="font-weight: 800; padding-left:10px">
                @Html.DisplayFor(modelItem => item.StudiePunten)
            </td>
            <td style="font-weight: 800; padding-left:10px">
                @Html.DisplayFor(modelItem => item.Handboek.Titel)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.VakId">Edit</a> -
                <a asp-action="Details" asp-route-id="@item.VakId">Details</a> -
                <a asp-action="Delete" asp-route-id="@item.VakId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
